[GENERAL]
log_file=
log_level=

[SMTP]
smtp_server=
smtp_port=
smtp_ssl=
smtp_auth=
smtp_user=
smtp_pass=
mail_from=
# Comma separated list of email addresses
mail_to=

[MONGO]
mongo_host=
mongo_port=
mongo_db=galera_notify
mongo_user=
mongo_pass=
