[GENERAL]
log_file=
log_level=

[SMTP]
# Can be empty, will be set from socket.gethostname()
smtp_server=
smtp_port=
smtp_auth=
smtp_user=
smtp_pass=
mail_from=
# Comma separated list of email addresses
mail_to=

[MONGO]
use_mongo=
mongo_uri=
mongo_db=
