[GENERAL]
log_file=test.log
log_level=DEBUG

[SMTP]
smtp_server=
smtp_port=
smtp_ssl=
smtp_auth=
smtp_user=
smtp_pass=
mail_from=
# Comma separated list of email addresses
mail_to=

[MONGO]
mongo_uri=mongodb://new_user:new_password@localhost
mongo_host=localhost
mongo_port=
mongo_db=galera_notify
mongo_user=new_user
mongo_pass=new_password
